.game-area {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: grey;
  }

  &__opponent-area {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 20%;
    border: 1px solid black;
  }

  &__stage-area {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 49%;
    border: 1px solid black;
    background-color: #0a6c03;
  }

  &__player-area {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 30%;
    border: 1px solid black;
  }
}
